body {
    background-image: url(Cinema-Theatre-PNG-Photos.png);
    background-color: #343434;
    color: whitesmoke;
    font-family: 'Limelight', sans-serif;
    background-size: cover;
    align-items: center;
    text-align: center;
}

#data-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    /* keeps text from going edge to edge */
    margin: 0 auto;
    /* centers the block */
    padding: 0 20px;
    /* adds spacing left/right */
    text-align: center;
    /* optional: aligns text nicely */
}

#data-container h2 {
    font-size: 1.75em;
    margin: 5px 0;
    border-radius: 5px;
    align-items: center;
    text-align: center;
} 

#data-container p {
    font-size: 1.20em;
    line-height: 1.6;
    margin: 10px 0;
    border-radius: 5px;
    align-items: center;
    text-align: center;
}

#movie-poster {
    width: 250px;
    height: auto;
    align-items: center;
    margin: 0 auto;
    display: flex;
    margin-top: 20px;
    border-radius: 8px;
}

h1 {
    font-family: 'Codystar', cursive;
    font-weight: bolder;
    font-size: 2.5em;
    margin-bottom: 20px;
}