body {
    font-family: Arial, sans-serif;
    background-image: url(Cinema-Theatre-PNG-Photos.png);
    background-color: #343434;
    color: whitesmoke;
    background-size: cover;
    align-items: center;
    text-align: center;
}

#data-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#data-container p {
    margin: 10px 0;
    border-radius: 5px;
    align-items: center;
    text-align: center;
}

#movie-poster {
    width: 250px;
    height: auto;
    align-items: center;
    margin: 0 auto;
    display: flex;
    margin-top: 20px;
    border-radius: 8px;
}
 h1 {
    font-family: 'Codystar', cursive;
    font-weight: bolder;
    font-size: 2.5em;
    margin-bottom: 20px;
    }